<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>
        布料进货渠道-添加
        <!--   user_management_add.html修改而来-->
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/css/backstage/x-admin.css" media="all">
    <link rel="stylesheet" href="/static/css/backstage/commodity_add.css">
</head>

<body>
<div class="x-body">
    <form>
        <table border="1px black;" class="peo_tab" cellspacing="0" cellpadding="0">
            <tr>
                <td class="p_td">布料成分:</td>
                <td >
                    <input type="text" name='uname' class="u_t" placeholder="(长度为5-12位)"/>
                </td>
            </tr>
            <tr>
                <td class="p_td">布料颜色:</td>
                <td>
                    <input type="text" name='uname' class="u_t"/>
                </td>
            </tr>
            <tr>
                <td class="p_td">布料花型:</td>
                <td>
                    <input type="text" name='uname' class="u_t"/>
                </td>
            </tr>
            <tr>
                <td class="p_td">进货价格:</td>
                <td>
                    <input type="text" name='uname' class="u_t"/>
                </td>
            </tr>
            <tr>
                <td class="p_td">供应商:</td>
                <td>
                    <input type="text" name='uname' class="u_t"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="u_t" style="width: 100%" type="submit" value="添加"/>
                </td>
            </tr>
        </table>
    </form>
</div>
<script src="/static/lib/layui/layui.js" charset="utf-8">
</script>
<script src="/static/js/backstage/x-layui.js" charset="utf-8">
</script>
</body>
</html>