<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <meta charset="utf-8">
        <title>
            用户管理-编辑
            <!--user_management_edit.html修改而来-->
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="/static/css/backstage/x-admin.css" media="all">
        <link rel="stylesheet" href="/static/css/backstage/commodity_get.css">
    </head>
    <body>
        <div class="x-body">
            <table border="1px black;">
                <tr>
                    <td>服装编号:</td>
                    <td>1</td>
                    <td style="background: url('/static/image/backstage/shuji4.jpg');background-size:100% 100%;" colspan="2" rowspan="5">
                    </td>
                </tr>
                <tr>
                    <td>服装名称:</td>
                    <td>SaaS大V书上的撒打算</td>
                </tr>
                <tr>
                    <td>点击量:</td>
                    <td>100000</td>
                </tr>
                <tr>
                    <td>服装类型:</td>
                    <td>还能拿死阿斯顿</td>
                </tr>
                <tr>
                    <td>服装状态:</td>
                    <td>新品</td>
                </tr>
                <tr>
                    <td>出厂价格:</td>
                    <td>9527.00</td>
                    <td>会员价格:</td>
                    <td>4325.00</td>
                </tr>
            </table>
        </div>
        <script src="/static/lib/layui/layui.js" charset="utf-8">
        </script>
        <script src="/static/js/backstage/x-layui.js" charset="utf-8">
        </script>
        <script>
            layui.use(['form','layer'], function(){
                $ = layui.jquery;
              var form = layui.form()
              ,layer = layui.layer;
              
              
            });
        </script>
    </body>

</html>