<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="utf-8">
<title>商品管理-查看</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/static/css/x-admin.css" media="all">
</head>

<body>
    <img src="/static/image/backstage/tupian4.jpg"
         style="width: 80%;height:160px; margin:10%;" title="关联tuping " alt="关联"/>
<script src="/static/lib/layui/layui.js" charset="utf-8">
        </script>
<script src="/static/js/x-layui.js" charset="utf-8">
        </script>
</body>
</html>