<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>人格障碍诊断</title>
<link rel="stylesheet" type="text/css" href="/static/css/backstage/public.css" />
<script type="text/javascript" src="/static/js/backstage/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/backstage/public.js"></script>
<script type="text/javascript" src="/static/js/backstage/external.js"></script>
</head>
<body>
	<!-- 头部 -->
	<div class="head">
		<div class="headL">
			<h1 class="headLogo" style="color: #292713;font-size: 24px;margin: 35px 25%">衣邦人平台管理系统</h1>
		</div>
		<div class="headR">
	    <a href="login_out"  target="_parent">【退出】</a>
		</div>
	</div>
    <div class="user">
		<!-- /*@thymesVar id="user_role" type="package.Object" */ -->
		<span th:text="${user_role.userRole+':'+user_role.userName}"></span>
    </div>
</body>
</html>