<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>衣邦人后台管理</title>
<link rel="stylesheet" type="text/css" href="/static/css/backstage/public.css">
<script type="text/javascript" src="/static/js/backstage/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/backstage/public.js"></script>
<head></head>

<body id="bg">
<!-- 左边节点 -->
<div class="container">

    <div class="leftsidebar_box">
        <a href="main.html" target="main">
            <div class="line">
                <img class="icon1" src="/static/image/backstage/coin01.png" />
                <img class="icon2" src="/static/image/backstage/coin02.png" />&nbsp;&nbsp;首页
            </div>
        </a>
        <!--订单管理-->
        <dl class="system_log">
            <dt>
                <img class="icon1" src="/static/image/backstage/coin09.png" />
                <img class="icon2" src="/static/image/backstage/coin10.png" />
                订单管理
                <img class="icon3" src="/static/image/backstage/coin19.png" />
                <img class="icon4" src="/static/image/backstage/coin20.png" />
            </dt>
            <dd>
                <img class="coin11" src="/static/image/backstage/coin111.png" />
                <img class="coin22" src="/static/image/backstage/coin222.png" />
                <a href="order.html" target="main" class="cks">订单管理</a>
                <img class="icon5" src="/static/image/backstage/coin21.png" />
            </dd>
            <dd>
                <img class="coin11" src="/static/image/backstage/coin111.png" />
                <img class="coin22" src="/static/image/backstage/coin222.png" />
                <a href="Dangan.html" target="main" class="cks">客户管理</a>
                <img class="icon5" src="/static/image/backstage/coin21.png" />
            </dd>
        </dl>
        <!--布料管理-->
        <dl class="system_log">
            <dt>
                <img class="icon1" src="/static/image/backstage/coin09.png" />
                <img class="icon2" src="/static/image/backstage/coin10.png" />
                布料管理
                <img class="icon3" src="/static/image/backstage/coin19.png" />
                <img class="icon4" src="/static/image/backstage/coin20.png" />
            </dt>
            <dd>
                <img class="coin11" src="/static/image/backstage/coin111.png" />
                <img class="coin22" src="/static/image/backstage/coin222.png" />
                <a href="lining.html" target="main" class="cks">布料库存</a>
                <img class="icon5" src="/static/image/backstage/coin21.png" />
            </dd>
            <dd>
                <img class="coin11" src="/static/image/backstage/coin111.png" />
                <img class="coin22" src="/static/image/backstage/coin222.png" />
                <a href="Dangan.html" target="main" class="cks">布料供应商</a>
                <img class="icon5" src="/static/image/backstage/coin21.png" />
            </dd>
        </dl>
        <!--客户管理-->
        <dl class="system_log">
            <dt>
                <img class="icon1" src="/static/image/backstage/coin07.png" />
                <img class="icon2" src="/static/image/backstage/coin08.png" />
                用户管理
                <img class="icon3" src="/static/image/backstage/coin19.png" />
                <img class="icon4" src="/static/image/backstage/coin20.png" />
            </dt>
            <dd>
                <img class="coin11" src="/static/image/backstage/coin111.png" />
                <img class="coin22" src="/static/image/backstage/coin222.png" />
                <a href="commodity.html" target="main" class="cks">用户管理</a>
                <img class="icon5" src="/static/image/backstage/coin21.png" />
            </dd>
            <dd>
                <img class="coin11" src="/static/image/backstage/coin111.png" />
                <img class="coin22" src="/static/image/backstage/coin222.png" />
                <a href="Role_management.html" target="main" class="cks">角色管理</a>
                <img class="icon5" src="/static/image/backstage/coin21.png" />
            </dd>
        </dl>

        <!--产品管理-->
        <dl class="system_log">
            <dt>
                <img class="icon1" src="/static/image/backstage/coin07.png" />
                <img class="icon2" src="/static/image/backstage/coin08.png" />
                产品管理
                <img class="icon3" src="/static/image/backstage/coin19.png" />
                <img class="icon4" src="/static/image/backstage/coin20.png" />
            </dt>
            <dd>
                <img class="coin11" src="/static/image/backstage/coin111.png" />
                <img class="coin22" src="/static/image/backstage/coin222.png" />
                <a href="commodity.html" target="main" class="cks">所有产品</a>
                <img class="icon5" src="/static/image/backstage/coin21.png" />
            </dd>
            <dd>
                <img class="coin11" src="/static/image/backstage/coin111.png" />
                <img class="coin22" src="/static/image/backstage/coin222.png" />
                <a href="type.html" target="main" class="cks">产品类型管理</a>
                <img class="icon5" src="/static/image/backstage/coin21.png" />
            </dd>
        </dl>
        <!--数据管理-->
        <!--       <dl class="system_log">
                   <dt>
                       <img class="icon1" src="image/coin05.png" />
                       <img class="icon2" src="image/coin06.png" />
                        数据管理
                        <img class="icon3" src="image/coin19.png" />
                        <img class="icon4" src="image/coin20.png" />
                   </dt>
                   <dd>
                       <img class="coin11" src="image/coin111.png" />
                       <img class="coin22" src="image/coin222.png" />
                       <a class="cks" href="Warning_management.html" target="main">预警信息管理</a>
                       <img class="icon5" src="image/coin21.png" />
                   </dd>
                   <dd>
                       <img class="coin11" src="image/coin111.png" />
                       <img class="coin22" src="image/coin222.png" />
                       <a class="cks" href="Data_management.html" target="main">数据管理</a>
                       <img class="icon5" src="image/coin21.png" />
                   </dd>
                   <dd>
                       <img class="coin11" src="image/coin111.png" />
                       <img class="coin22" src="image/coin222.png" />
                       <a class="cks" href="shujutongji.html" target="main">数据统计</a>
                       <img class="icon5" src="image/coin21.png" />
                   </dd>
               </dl>-->

        <dl class="system_log">
            <dt>
                <img class="icon1" src="/static/image/backstage/coin03.png" />
                <img class="icon2" src="/static/image/backstage/coin04.png" />
                网站信息管理
                <img class="icon3" src="/static/image/backstage/coin19.png" />
                <img class="icon4" src="/static/image/backstage/coin20.png" />
            </dt>
            <dd>
                <img class="coin11" src="/static/image/backstage/coin111.png" />
                <img class="coin22" src="/static/image/backstage/coin222.png" />
                <a href="Home.html" target="main" class="cks">首页</a>
                <img class="icon5" src="/static/image/backstage/coin21.png" />
            </dd>
            <dd>
                <img class="coin11" src="/static/image/backstage/coin111.png" />
                <img class="coin22" src="/static/image/backstage/coin222.png" />
                <a href="About_us.html" target="main" class="cks">关于我们</a>
                <img class="icon5" src="/static/image/backstage/coin21.png" />
            </dd>
            <dd>
                <img class="coin11" src="/static/image/backstage/coin111.png" />
                <img class="coin22" src="/static/image/backstage/coin222.png" />
                <a href="New.html" target="main" class="cks">心理新闻</a>
                <img class="icon5" src="/static/image/backstage/coin21.png" />
            </dd>
            <dd>
                <img class="coin11" src="/static/image/backstage/coin111.png" />
                <img class="coin22" src="/static/image/backstage/coin222.png" />
                <a href="Download-pic.html" target="main" class="cks">资源下载</a>
                <img class="icon5" src="/static/image/backstage/coin21.png" />
            </dd>
        </dl>

        <dl class="system_log">
            <dt>
                <img class="icon1" src="/static/image/backstage/coinL1.png" />
                <img class="icon2" src="/static/image/backstage/coinL2.png" />
                系统设置
                <img class="icon3" src="/static/image/backstage/coin19.png" />
                <img class="icon4" src="/static/image/backstage/coin20.png" />
            </dt>
            <dd>
                <img class="coin11" src="/static/image/backstage/coin111.png" />
                <img class="coin22" src="/static/image/backstage/coin222.png" />
                <a href="./link.html" target="main" class="cks">友情链接</a>
                <img class="icon5" src="/static/image/backstage/coin21.png" />
            </dd>
        </dl>
    </div>
</div>
</body>
</html>
