<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>
        布料管理
        <!--   User_management.html修改而来-->
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/css/backstage/x-admin.css" media="all">
    <link rel="stylesheet" href="/static/css/backstage/pag.css" media="all">
    <link rel="stylesheet" href="/static/css/backstage/commodity.css">
</head>
<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>布料管理</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <form action="lining" style="width:85%">
        <label>布料成分:</label>
        <select class="" name="cmId">
            <option value="0">请选择</option>
            <option th:each="c:${components}" th:value="${c.id}" th:text="${c.com}"></option>
        </select>
        <label>布料颜色:</label>
        <select name="clId">
            <option value="0">请选择</option>
            <option th:each="cl:${colours}" th:value="${cl.id}" th:text="${cl.col}"></option>
        </select>
        <label>布料花型:</label>
        <select name="fId">
            <option value="0">请选择</option>
            <option th:each="f:${flower}" th:value="${f.id}" th:text="${f.pattern}"></option>
        </select>
        <input type="submit" style="width:50px" value="搜索" id="sub"/>
    </form>
    <div class="tools">
        <ul class="toolbar">
            <li id="dels"><span><img src="/static/image/backstage/t03.png" /></span>批量删除</li>
            <li onclick="user_management_add('添加服装','lining_add','600','420')"><span>
          <img src="/static/image/backstage/t01.png" /></span>添加</li>
        </ul>
        <span class="x-right" style="line-height:25px">共有数据：<span th:text="${pager.totalRows}"></span>  条</span></xblock>
    </div>
    <table class="tablelist">
        <thead>
        <tr>
            <th>
                <input onclick="selectAll()" type="checkbox" name="controlAll" style="controlAll" id="controlAll">
            </th>
            <th>
                ID
            </th>
            <th>
                布料成分
            </th>
            <th>
                布料颜色
            </th>
            <th>
                布料花型
            </th>
            <th>
                布料库存
            </th>
            <th>
                存放地址
            </th>
            <th>
                操作
            </th>
        </tr>
        </thead>
        <tbody id="cheks">
        <tr th:each="page:${pager.datas}">
            <td>
                <input type="checkbox" th:value="${page.id}" name="id" >
            </td>
            <td th:text="${page.id}"class="id"> </td>
            <td th:text="${page.com}" name="com"></td>
            <td th:text="${page.col}" name="col"></td>
            <td th:text="${page.pattern}" name="pattern"></td>
            <td th:text="${page.number}"></td>
            <td th:text="${page.adress}"></td>
            <td class="td-manage">
                <a title="查看" href="javascript:;"

                   class="ml-5" style="text-decoration:none">
                    <i class="layui-icon">&#xe615;</i>
                </a>
                <a style="text-decoration:none"
                  class="update"
                   href="javascript:;" title="修改">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" href="javascript:;" class="del"
                   style="text-decoration:none">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>

        </tbody>
    </table>
    <div class="page" v-show="show">
        <a th:href="@{lining(pageNo=1)}" id="one" >首页</a>
        <span th:if="${pager.pageNo gt 1}">
            <a th:href="@{lining(pageNo=${pager.pageNo}-1)}" id="two" >上一页</a>
        </span>
        <span th:if="${pager.pageNo lt pager.totalPage}">
            <a th:href="@{lining(pageNo=${pager.pageNo}+1)}" id="thr">下一页</a>
        </span>

        <a th:href="@{lining(pageNo=${pager.totalPage})}" id="four" >末页</a>
        &nbsp;&nbsp;
        &nbsp;&nbsp;第<span th:text="${pager.pageNo}"></span> 页/共<span th:text="${pager.totalPage}"></span> 页
        &nbsp;&nbsp;共<span th:text="${pager.totalRows}"></span> 条记录
        <span class="jumppoint">跳转到：</span> <span class="jumpinp">
                <input type="text" id="num" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')">
             </span> <span class="jump gobtn" id="Go">GO</span>
    </div>
</div>
<br />
<br />
<br />
<script src="/static/lib/layui/layui.js" charset="utf-8"></script>
<script src="/static/js/backstage/x-layui.js" charset="utf-8"></script>
<script src="/static/js/backstage/jquery2.js" charset="utf-8"></script>
<script src="/static/js/backstage/js.js" charset="utf-8"></script>
<script>
    layui.use(['laydate','element','laypage','layer'], function(){
        $ = layui.jquery;//jquery
        lement = layui.element();//面包导航
        laypage = layui.laypage;//分页
        layer = layui.layer;//弹出层

    });

    /*商品-添加*/
    function user_management_add(title,url,w,h){
        x_admin_show(title,url,w,h);
    }
    // 商品-查看
    $(".ml-5").click(function () {
        var id=$(this).parent().siblings('.id').text();
        var urls='lining_get?id='+id;
        x_admin_show("查看详情",urls,'','360');
    })
    /*商品-修改*/
    $(".update").click(function () {
        var id=$(this).parent().siblings('.id').text();
        var urls='lining_upd?id='+id;
        x_admin_show("查看详情",urls,'900','380');
    })

    /*页面跳转*/
    $("#Go").click(function () {
        var num=$("#num").val();
        var url="lining"+"?pageNo="+num;
        window.location.href=url;

    })
    /* 单个删除*/
    $("#del").click(function () {
        var id=$(this).parent().siblings(".id").text();
        alert(id);
        $.ajax({
            url:"dellining",
            data:{"id":id},
            type:"post",
            success:function () {
                location.reload(true);
            }
        })
    })
    /*批量删除*/
    $("#dels").click(function () {
        var requirement  = [];
        var i=0;
        $("#cheks :checkbox").each(function(){ //遍历table里的全部checkbox
            // alert($(this).val());
            if($(this).is(':checked')) {
                i++;
                //alert(i);
                requirement[i] = $(this).val();
                //alert(requirement[i]);
            }
        });
        $.ajax({
            url:"dellinings",
            data:{"arr":requirement},
            type:"post",
            success:function () {
                location.reload(true);
            }
        })

    })
    $('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>