<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>
        布料管理-添加
        <!--   user_management_add.html修改而来-->
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/css/backstage/x-admin.css" media="all">
    <link rel="stylesheet" href="/static/css/backstage/commodity_add.css">
</head>

<body>
<div class="x-body">
    <form>
        <table border="1px black;" class="peo_tab" cellspacing="0" cellpadding="0">
            <tr>
                <td class="p_td">布料成分:</td>
                <td >
                    <select class=""  name="cmId">
                        <option value="0">请选择</option>
                        <option th:each="c:${components}" th:value="${c.id}" th:text="${c.com}"></option>

                    </select>
                </td>
            </tr>
            <tr>
                <td class="p_td">布料颜色:</td>
                <td>
                    <select name="clId">
                        <option value="0">请选择</option>
                        <option th:each="cl:${colours}" th:value="${cl.id}" th:text="${cl.col}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="p_td">布料花型:</td>
                <td>
                    <select  name="fId">
                        <option value="0">请选择</option>
                        <option th:each="f:${flower}" th:value="${f.id}" th:text="${f.pattern}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="p_td">进货价格:</td>
                <td>
                    <input type="text" name='uname' class="u_t"/>
                </td>
            </tr>
            <tr>
                <td class="p_td">布料数量:</td>
                <td>
                    <input type="text" name='number' class="u_t"/>
                </td>
            </tr>
            <tr>
                <td class="p_td">存放地址:</td>
                <td>
                    <input type="text" name='adress' class="u_t"/>
                </td>
            </tr>
            <tr height="41px">
                <td class="p_td">布料图片:</td>
                <td >
                    <input type="file" class="r_td"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="u_t" style="width: 100%" type="submit" value="添加"/>
                </td>
            </tr>
        </table>
    </form>
</div>
<script src="/static/lib/layui/layui.js" charset="utf-8">
</script>
<script src="/static/js/backstage/x-layui.js" charset="utf-8">
</script>
<script src="/static/js/backstage/jquery2.js" charset="utf-8"></script>
<script>
    $(function () {

        $("#add").click(function () {

            x_admin_close();

        })
    })
</script>
</body>
</html>