<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>
        管理布料
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/css/backstage/x-admin.css" media="all">
    <link rel="stylesheet" href="/static/css/backstage/order.css">
</head>
<body>
<div class="x-body">
        <table class="table_get" border="1px black;">
            <tr>
                <td class="get_td">供应商:</td>
                <td> 1</td>
                <td class="get_td">布料编号:</td>
                <td>1</td>
            </tr>
            <tr>
                <td class="get_td">进货价格:</td>
                <td>1</td>
                <td class="get_td">进货数量:</td>
                <td>1</td>
            </tr>
            <tr>
                <td class="get_td">下单时间:</td>
                <td>208-05-05 12:00:00</td>
                <td class="get_td">交货时间:</td>
                <td>208-05-05 12:00:00</td>
            </tr>
            <tr>
                <td class="get_td">状态:</td>
                <td>未交货</td>
                <td class="get_td">采购人员:</td>
                <td>5</td>
            </tr>
            <tr>
                <td class="get_td">签收人员:</td>
                <td></td>
                <td class="get_td">总金额:</td>
                <td></td>
            </tr>
        </table>
</div>
<script src="/static/lib/layui/layui.js" charset="utf-8">
</script>
<script src="/static/js/backstage/x-layui.js" charset="utf-8">
</script>
</body>
</html>