<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>
        供应商管理
        <!--   User_management.html修改而来-->
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/css/backstage/x-admin.css" media="all">
    <link rel="stylesheet" href="/static/css/backstage/pag.css" media="all">
    <link rel="stylesheet" href="/static/css/backstage/commodity.css">
    <link rel="stylesheet" href="/static/css/backstage/order.css">
</head>
<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>供应商管理</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="tools">
        <ul class="toolbar">
            <li id="dels"><span><img src="/static/image/backstage/t03.png" /></span>批量删除</li>
            <li onclick="user_management_password('添加供应商','Supplier_add','900','430')"><span>
          <img src="/static/image/backstage/t01.png" /></span>添加</li>
        </ul>
        <span class="x-right" style="line-height:25px">共有数据：<span th:text="${pager.totalRows}"></span>条</span></xblock>
    </div>
    <table class="tablelist">
        <thead>
        <tr>
            <th>
                <input onclick="selectAll()" type="checkbox" name="controlAll" style="controlAll" id="controlAll">
            </th>
            <th>
                ID
            </th>
            <th>
                供应商名
            </th>
            <th>
                公司电话
            </th>
            <th>
                所在地址
            </th>
            <th>
                法人
            </th>
            <th>
                业务联系人
            </th>
            <th>
                质量联系人
            </th>
            <th>
                备注
            </th>
            <th>
                操作
            </th>
        </tr>
        </thead>
        <tbody id="cheks">
        <tr th:if="${not #lists.isEmpty(pager.datas)}" th:each="page:${pager.datas}">
            <td><input type="checkbox" th:value="${page.ID}" name="id"></td>
            <td th:text="${page.ID}" class="oid"></td>
            <td th:text="${page.qiYeName}"></td>
            <td th:text="${page.phone}"></td>
            <td class="order_td_address" th:text="${page.qiYeAddress}"></td>
            <td th:text="${page.faRen}"></td>
            <td th:text="${page.businessName}"></td>
            <td th:text="${page.qualityName}"></td>
            <td class="order_td_remarks" th:text="${page.yaoQiu}">
                男，西装，纯棉，蓝色，130,180,60,问加你第四姐夫决赛几点爱福家撒覅是紧固件奥林
            </td>
            <td class="td-manage">
                <a title="查看" href="javascript:;"

                   class="ml-5" style="text-decoration:none">
                    <i class="layui-icon">&#xe615;</i>
                </a>
                <a style="text-decoration:none"
                   class="update"
                   href="javascript:;" title="修改">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" href="javascript:;" class="del"
                   style="text-decoration:none">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>

        </tbody>
    </table>
    <div class="page" v-show="show">
        <a th:href="@{Supplier(pageNo=1)}">首页</a>
        <span th:if="${pager.pageNo gt 1}">
            <a th:href="@{Supplier(pageNo=${pager.pageNo}-1)}" id="two" >上一页</a>
        </span>
        <span th:if="${pager.pageNo lt pager.totalPage}">
            <a th:href="@{Supplier(pageNo=${pager.pageNo}+1)}" id="thr">下一页</a>
        </span>
        <a th:href="@{Supplier(pageNo=${pager.totalPage})}">末页</a>
        &nbsp;&nbsp;
        &nbsp;&nbsp;第<span th:text="${pager.pageNo}"></span>页/共<span th:text="${pager.totalPage}"></span>页
        &nbsp;&nbsp;共<span th:text="${pager.totalRows}"></span>条记录
        <span class="jumppoint">跳转到：</span> <span class="jumpinp">
                <input type="text" id="num">
             </span> <span class="jump gobtn" id="Go">GO</span>
    </div>
</div>
<br />
<br />
<br />
<script src="/static/lib/layui/layui.js" charset="utf-8"></script>
<script src="/static/js/backstage/x-layui.js" charset="utf-8"></script>
<script src="/static/js/backstage/jquery2.js" charset="utf-8"></script>
<script src="/static/js/backstage/js.js" charset="utf-8"></script>
<script>
    layui.use(['laydate','element','laypage','layer'], function(){
        $ = layui.jquery;//jquery
        lement = layui.element();//面包导航
        laypage = layui.laypage;//分页
        layer = layui.layer;//弹出层

    });

    /*商品-添加*/
    function user_management_add(title,url,w,h){
        x_admin_show(title,url,w,h);
    }
    // 商品-查看
    $(".ml-5").click(function () {
        var id=$(this).parent().siblings(".oid").text();
        var urls='Supplier_get?id='+id;
        x_admin_show('查看供应商详情',urls,'','380');
    })
    /*商品-修改*/
    $(".update").click(function () {
        var id=$(this).parent().siblings(".oid").text();
        var urls='Supplier_upd?id='+id;
        x_admin_show('修改供应商',urls,'900','430');
    })
    /*// 商品-查看
    function user_management_edit (title,url,w,h) {
        var id=$('[name="id"]').val();
        var urls=url+'?id='+id;
        x_admin_show(title,urls,w,h);
    }
    /!*商品-修改*!/
    function user_management_password(title,url,w,h){
        var id=$('[name="id"]').val();
        var urls=url+'?id='+id;
        x_admin_show(title,urls,w,h);
    }*/
    /*页面跳转*/
    $("#Go").click(function () {
        var num=$("#num").val();
        var url="order"+"?pageNo="+num;
        window.location.href=url;

    })
    /* 单个删除*/
    $(".del").click(function () {
        var id=$(this).parent().siblings(".oid").text();
        //alert(id);
        $.ajax({
            url:"delSupplier",
            data:{"id":id},
            type:"post",
            success:function () {
                location.reload(true);
            }
        })
    })
    /*批量删除*/
    $("#dels").click(function () {
        var requirement  = [];
        var i=0;
        $("#cheks :checkbox").each(function(){ //遍历table里的全部checkbox
            // alert($(this).val());
            if($(this).is(':checked')) {
                i++;
                requirement[i] = $(this).val();
            }
        });
        $.ajax({
            url:"delsSupplier",
            data:{"arr":requirement},
            type:"post",
            success:function () {
                location.reload(true);

            }
        })
    })
    $('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>