<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="eng" lang="eng">
  <head> 
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Yigit Yigit Ce.[pulyavserdce.com]" />
  <meta name="description" content="Site description" />
  <meta name="keywords" content="keywords, keyword, seo, google" /> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
  <meta name="apple-mobile-web-app-capable" content="yes" />
   <script type="text/javascript" src="/static/js/jquery.1.7.2.min.js"></script>
   <title>Coffee Break : 404</title>
   <link rel="stylesheet" media="screen" href="/static/css/404.css" type="text/css" />
   <link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
   <link rel="icon" type="image/x-icon" href="favicon.png" />
   <link rel="apple-touch-icon" href="favicon.png" />
   <link rel="apple-touch-startup-image" href="favicon.png" />
   </head>
  <script>
      function refreshParent() {
          window.opener.location.href = window.opener.location.href;
          window.close();
      }
  </script>
   <body> 
   <div class="controller">
    <div class="objects"> 
    <!-- text area -->
    <div class="text-area rotate">
    <p class="error">Sorry404</p>
    <p class="details" style="font-size: 30px;font-family:'方正舒体'">我们遇到了一个错误<br /><br />你要找的页面不在这里Ծ‸Ծ</p>
    </div> 
    <!-- text area -->
     <!-- home page -->
     <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >Website Template</a></div>
    <div class="homepage rotate">
    <a href="main.html" style="font-size: 22px;font-family:'方正舒体'" >o(╥﹏╥)o</br></br>我有的都给你</a>
    </div> <!-- home page --> 
    </div> <!-- social-icons -->
   </div>
</body>
</html>
    <div id="buy-it-now" style="visibility:visible !important; visibility:hidden; position:fixed; bottom:0px; z-index:1000; right:0px;"><a href="http://www.cssmoban.com/" alt="Buy it now!" target="_blank"><img src="/static/image/buy-it-now.png" width="75px" height="75px" alt="Buy it now!" style="border:none" /></a></div>