body,p,form,h1,h2,h3,h4,h5,h6,ul,li,section,div,*{padding:0;margin:0}
			ul,ol,li{list-style:none; vertical-align: top;}
			img{border:0}
			a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
			body{
				margin: 0;
				padding: 0;
				background-color: #222222;
				overflow-x: hidden;	
				font-family: "Microsoft YaHei",微软雅黑,sans-serif;	
			}			
			@-webkit-keyframes rotate {
				0%  { -webkit-filter: brightness(80%);}
				100%{ -webkit-filter: brightness(100%); }
			}	
			/*悬浮导航栏*/			
			.xf_nav{width:100%;background: #373737;position: fixed;z-index: 3000;display: none;}
			.xf_nav ul{width:1110px;margin: 0 auto;overflow: hidden;padding: 0 30px;}
			.xf_nav ul li{float: left;width: 98px;height:40px;line-height: 40px;text-align: center;border-right: 1px solid #4A4A4A;border-bottom: 1px solid #4A4A4A;}
			.xf_nav ul li:last-child{border-right: none;}
			.xf_nav ul li:hover{border-bottom: 1px solid #fa4905;}
			.xf_nav ul li a{color: #FFFFFF;font-size: 14px;}
			/*头部*/	
			.head{height:120px;background: #161616;}
			.topbar{ width: 100%;max-width:1260px;margin: 0 auto;text-align: center;height: 75px;position: relative;z-index:2000;}
			.topbar img{float: right;height: 120px;}	
			/*导航栏*/	
			.nav{width: 100%;background:#363636;height:40px;}
			.nav .son{margin:0 auto;width:830px;position: relative;z-index: 1000;}
			.nav ul li{float: left;text-align: center;height:40px;line-height:40px;width:135px;box-sizing: border-box;border-right: 1px solid #4A4A4A;}	
			.nav ul li:hover a{color: #ea5514;background: #454545;}
			.nav .son a{color: #fefefe;display: block;font-size: 14px;}
			.nav .son_li{position: relative;z-index: 1;}
			.nav .son_li{background:url("arrow1.png")/*tpa=https://ossstatic.ybren.com/PC/web/index/arrow1.png*/ no-repeat ;background-position:94px 18px;}	
			.nav .son_li:hover{background:url("arrow2.png")/*tpa=https://ossstatic.ybren.com/PC/web/index/arrow2.png*/ no-repeat #454545;background-position:94px 18px;}
			.nav .son_li:hover .click{color: #fa4905;border-top: 4px solid #fa4905;line-height: 32px;}	
			.nav .son_li:hover ul{display: block;border-bottom: 6px solid #454545;box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);}
			.son .son_li ul{position: absolute;z-index: 3000;display: none;left:0;top:36px;}
			.son .son_li ul li{float: none;position: relative;z-index: 100;background: #454545;height: 30px;line-height:30px;}	
			.nav .son_li ul li a{color: #f1f2f0;}
			.nav .son_li ul li:hover{}
			.nav .son_li ul li:hover a{color: #fa4905;background:#363636;}
			/*右边栏*/
			.right_sevice{position: fixed;z-index: 100;top:25%;right: 0%;background: #000000;padding: 5px 10px 10px;border: 1px solid #795D0D;display: none;}
			.right_sevice a{display: block;width:70px;height:50px;text-align: center;color: #FFFFFF;border-bottom: 1px dashed #FFFFFF;line-height: 50px;margin-bottom:5px;cursor: pointer;}
			.right_sevice a:hover{color: #E2AE19;}
			.right_sevice .r1{}
			.right_sevice .r2{overflow: hidden;border-bottom: none;height:70px;width: 70px;background: url("yy.png")/*tpa=https://ossstatic.ybren.com/PC/web/index/yy.png*/ no-repeat center center;background-size: cover;}
			.right_sevice .r2:hover{background: url("yy2.png")/*tpa=https://ossstatic.ybren.com/PC/web/index/yy2.png*/ no-repeat center center;background-size: cover;}
			.right_sevice .r3{}
			.right_sevice .r4{border-bottom: none}			
			.right_sevice .wx_code{width:140px;height:140px;position: absolute;top:102px;left:-140px;display: none;}
			.right_sevice .app_code{width:140px;height:140px;position: absolute;top:153px;left:-140px;display: none;}	
			/*banner*/
			.banner{width:100%;height: 600px;}		
			.swiper-container{width:100%;height: 600px;} 
			.swiper-slide{overflow: hidden;}
			.swiper-slide a{display: block;width:100%;height: 600px;}
			.swiper-pagination-bullet{background: #828186;}
			.swiper-pagination-bullet-active {background: #FFFFFF;}
			/*左边栏*/
			.logo{display: block;width:216px;height:199px;overflow: hidden;position: absolute;top: 0;left:24px;z-index: 2100;}
			.logo img{float: left;padding: 0;height: 199px;}
			.left_nav{position: absolute;width:209px;height:561px;background: #F1F2F0;top:199px;left:24px;z-index: 3100;}
			.left_nav ul li{width:187px;border-bottom: 1px dashed #c2c3c5;height:68px;background: #F1F2F0;filter:alpha(opacity=90);  -moz-opacity:0.9;  -khtml-opacity: 0.9;  
			opacity: 0.9;border-left:4px solid #F1F2F0 ;text-align: left;padding-left: 15px;box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);}
			.left_nav ul li:hover{border-left:4px solid #fa4905 ;}
			.left_nav ul li .lt{color: #191919;font-size: 14px;padding-top:10px;}
			.left_nav ul li .lt a{color: #191919;}
			.left_nav ul li .lc a{color: #767575;font-size: 12px;}
			.left_nav ul li .lc a:hover{color: #fa4905;}
			.left_nav ul li:last-child{
                            border-bottom: none;
                        }
			
			/*底部*/
			.foot{overflow: hidden;min-width: 1024px;width: 100%;position: relative;background:#000000;font-size: 13px;color:#9c9c9c;margin-bottom: 50px;}
			.foot .foot_logo{margin: 0 auto;width:1069px;overflow: hidden;}
			.foot .foot_logo_2{border-top: 1px solid #333333;margin: 0 auto;width:1070px;overflow: hidden;padding: 50px 0 150px;text-align:center;font-size: 12px;color: #FFFFFF;line-height: 24px;}
			.foot .foot_logo img{float: left;width: 100%;}	
			.foot .fmidd{}
			.foot .fsec{overflow: hidden;width: 1100px;height:200px;margin: 0 auto;padding-top:33px;}
			.foot .fsec a{color: #FFFFFF;font-size: 12px;}
			.foot .fsec .ftitle{font-size: 16px;}
			.foot .fsec .fsec1{float: left;line-height:28px;margin-left:80px;}
			.foot .fsec .fsec1 li{padding-left:4px;color: #FFFFFF;font-size: 12px;}
			.foot .fsec .code{float: left;margin: 5px 20px 0;text-align: center;}
			.foot .fsec .code img{ width: 110px;}
			.foot .fsec .code .pt{font-size: 15px;color: #FFFFFF;padding-top: 5px;}
			.foot .infomation{text-align: center;color:#303030;font-size: 12px;height: 78px;background: #7D7D7D;}
			.foot .infomation .p1{padding: 20px 0 3px;}
			.ysf-online-kefu{display: none;}
			/*底部预约*/
			.foot_yuyue{width:100%;height: 50px;background: #FCC626;position: fixed;z-index: 3000;bottom: 0;display: none;border: 1px solid #FCC626;}
			.foot_yuyue .ycont{margin: 0 auto;width: 1100px;}
			.ycont ul{overflow: hidden;margin:0 auto;}
			.ycont ul li{overflow: hidden;height:34px;line-height:34px;background: none;width: 170px;margin-top: 8px;float: left;margin-left: 30px;}
			.ycont ul li label{width:45px;float:left;height:34px;overflow: hidden;padding-left:0px ;color: #000000;font-size: 14px;}
			.ycont ul li label img{float:left;padding-top:0px;}			
			.ycont ul li input,select{
				width:100px;float:left;height:34px;-webkit-appearance: none; font-size:14px;outline: none;-webkit-tap-highlight-color:rgba(0,0,0,0);padding-left:10px;line-height: 34px;
				/*for chrome*/appearance: none;background:none;box-sizing: border-box;border: none;border-bottom: 1px solid #4F4F4F;color: #000000;}	
			.ycont ul li .time{color: #A9A9A9;}
			#city{overflow: hidden;width:412px;}
			#city select{width:100px;height:34px;-webkit-appearance: none;appearance: none;border-right:none;margin-left:30px;text-align: center;line-height: 34px;
						background: url("down.jpg")/*tpa=https://ossstatic.ybren.com/PC/web/index/down.jpg*/ no-repeat left 80px top 8px;color: #000000;
			}
			#city select:first-child{}
			#city select:last-child{border-left:none;}
			#city select:nth-child(odd){border-left:none;border-right: none;}
			.ycont .sub{font-size: 15px;color: #FFFFFF;background: #000000;padding-left: 0;width: 170px;height: 34px;display: block;text-align: center;}
					
			
			.shadow{position: absolute;z-index: 1000;margin: 0 auto;background: #000000; filter:alpha(opacity=80);  -moz-opacity:0.8;  -khtml-opacity: 0.8;  
			opacity: 0.8; width: 100%;height: 100%;display: none;}
			.div_video{position: absolute;z-index: 2000;margin: 0 auto;margin-top: 100px;width: 100%;}	
			.colse{position: absolute;z-index: 3000;top: 20px;right:160px;display: none;cursor: pointer;}	
			.div_video object{width: 100%;}
			.content{width: 100%;margin:0 auto;text-align: center;background: #222222;padding: 0px 0 80px;}
			.content img{width: 100%;float: left;}	
			.content .clear1{margin:0 auto;width:1070px;height:512px;overflow: hidden;background: #FFFFFF;background: url("clear1.jpg")/*tpa=https://ossstatic.ybren.com/PC/web/index/clear1.jpg*/ no-repeat;}
			.content .clear1 .cvid{width:592px;height:373px;cursor: pointer;float: right;margin:56px 67px 0 0;}	
			.content .dimg{overflow: hidden;width: 1070px;margin: 0 auto;}
			.content .dimg img{float: left;width: 100%;}	
			.content .dimg2{overflow: hidden;width: 1070px;margin: 0 auto;}
			.content .dimg2 img{float: left;width:228px;margin-right: 3px;}			
			.content .list{margin:0 auto;width:1070px;overflow: hidden;background: #222222;}
			.content .list .l_top{overflow:hidden;width:1070px;position: relative;}
			.content .list .l_top img{float: left;width: 100%;}	
			.content .list .l_top .title_list{position: absolute;top:118px;left:148px;background: none;width: 120px;text-align: left;}
			.content .list .l_top .title_list .tl_one{font-size:22px;font-weight: bold;color: #FFFFFF;}
			.content .list .l_top .title_list .tl_br{width: 38px;border-bottom: 3px solid #EAA81C;margin: 20px 0 40px;}
			.content .list .l_top .title_list .tl_two{margin-bottom:15px ;}
			.content .list .l_top .title_list .tl_two a{font-size:16px;color: #FFFFFF;}
			.content .list .l_top .title_list .tl_more{margin-top: 40px;}
			.content .list .l_top .title_list .tl_more a{font-size:13px;color: #EAA81C;}			
			.content .list .l_bot{overflow:hidden;width:1070px;margin-top: 10px;background: #222222;}	
			.content .list .l_bot ul{overflow:hidden;padding-left:39px;}
			.content .list .l_bot ul li{float:left;width:246px;height:322px;position: relative;margin: 0 1px 20px;}			
			.content .list img:hover{ -webkit-box-shadow:0 0 10px #8c8c8c; -moz-box-shadow:0 0 10px #8c8c8c; box-shadow:0 0 10px #8c8c8c; }			
			.content .list .l_bot ul li a img{display:block;width: 246px;height: 279px;}
			

			.content .list .l_bot ul li .lishow{display: block;width:248px;height:43px;line-height:43px;color: #FFFFFF;font-weight: bold;font-size:18px;}

			.vide_mark{position: fixed;display: none;z-index: 10000;top: 0;left: 0;width: 100%;transition: opacity 0.15s linear;height: 100%;
			    	   background: url("mark_bj.png")/*tpa=https://www.kela.cn/Public/images/home/mall-index/mark_bj.png*/;
			}

			.vide_mark .vide_content_div {
			    width: 880px;
			    height: 600px;
			    overflow: hidden;
			    z-index: 10000;
			    position: absolute;
			    top: 50%;
			    margin-top: -300px;
			    margin-left: -440px;
			    left: 50%;
			}
			.vide_mark .vide_content {
			    width: 880px;
			    position: relative;
			    height: 600px;
			    margin-top: -600px;
			    position: absolute;
			    background: #FFF;
			}
			.vide_mark .vide_content .vide_titile {
			    height: 60px;
			    line-height: 60px;
			    color: #424242;
			    font-size: 16px;
			    padding: 0 20px;
			}
			.vide_close {
			    font-size: 30px;
			    height: 30px;
			    display: block;
			    height: 30px;
			    position: absolute;
			    top: 0;
			    right: 20px;
			    cursor: pointer;
			}
			.vide_mark .vide_content .vide_play {
    			width: 880px;
			}			

			.swiper-pagination-bullet{
				width: 16px;
				height: 16px;
			}