<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8"utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="format-detection" content="telephone=no">
		<meta content="no-cache" http-equiv="Pragma">
		<title>免费预约量体</title>
		<meta name="Keywords" content="衣邦人 贝嘟科技 量身定制 触手可及 男士正装 女士旗袍 美女着装顾问 特斯拉 上门量体 凯莱乔治 李加林 私人定制">
		<meta name="Description" content="衣邦人 贝嘟科技 量身定制 触手可及 男士正装 女士旗袍 美女着装顾问 特斯拉 上门量体 凯莱乔治 李加林 私人定制">
		<script src="/Public/js/swiper.min.js"></script>
		<link rel="stylesheet" href="css/swiper.min.css">	
		<script src="/Public/js/jquery.1.7.2.min.js"></script>		
		<script type="text/javascript" src="/Public/js/jquery.cityselect.new.js"></script>  
		<link rel="stylesheet" href="/Public/css/swiper.min.css">
		<link rel="shortcut icon" href="/Public/img/favicon.ico">
		<link href="/Public/css/common.css"rel="stylesheet"/>                
		<style type="text/css">
			body,p,form,h1,h2,h3,h4,h5,h6,ul,li,section,div,*{padding:0;margin:0}
			ul,ol,li{list-style:none; vertical-align: top;}
			img{border:0}
			a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
			body{
				margin: 0;
				padding: 0;
				background-color: #ECECEC;
				overflow-x: hidden;	
				font-family:"Microsoft YaHei",微软雅黑,sans-serif;	
			}		
			.banner{overflow: hidden;}
			.banner img{float: left;width: 100%;}				
			.phone{padding:50px 0 50px;text-align: center;background: #ECECEC;width: 600px;margin: 0 auto;}			
			.phone_2{color: #5D5D5D;height: 40px;line-height: 40px;font-size: 16px;overflow: hidden;padding-left: 125px;}	
			.phone_2 span{float: left;height: 40px;line-height: 40px;}
			.pnum{font-style: normal;color:#BA9223;font-weight: bold;font-size:22px;margin: 0 10px;padding:0 5px;height:40px;text-decoration: underline;}	
			.content{width:100%;margin:0 auto;text-align: center;background: #ECECEC;padding-bottom: 50px;}						
			.content ul{overflow: hidden;width:752px;margin:0 auto;}
			.content ul li{overflow: hidden;padding:0px 20px;border:1px solid #ADADAD;height:60px;margin-bottom:36px;line-height:60px;width:708px;border-radius: 10px;}
			.content ul li label{width:150px;float:left;height:60px;overflow: hidden;}
			.content ul li label img{float:left;padding-top:11px;width: 40px;height: 40px;}
			.content ul li label span{padding:0px 0 0 15px;float:left;font-size:18px;height:60px;}
			.content ul li input,select,textarea{
				width:500px;float:left;height:60px;-webkit-appearance: none; font-size:16px;outline: none;-webkit-tap-highlight-color:rgba(0,0,0,0);
				/*for chrome*/appearance: none;background:none;box-sizing: border-box;border: none;}	
			.content ul li 	textarea{padding-top:20px;resize:none;}
			#city{overflow: hidden;}
			#city select{width: 25.9%;height: 60px;-webkit-appearance: none;appearance: none;border-right:none;}
			#city select:first-child{}
			#city select:last-child{border-left:none;width:23.2%;}
			#city select:nth-child(odd){border-left:none;border-right: none;}			
			.content .button{text-align: center;margin:10px 0;}		
			.content .button input{width:750px;cursor: pointer;}
			.banner2{width:100%;height:604px;background: url("slide_bg.jpg")/*tpa=https://ossstatic.ybren.com/PC/web/yuyue/slide_bg.jpg*/ no-repeat center center;background-size:cover ;padding-top: 273px;}		
			.swiper-container{width:1100px;height:507px;margin: 0 auto;padding-bottom: 50px;} 
			.swiper-slide{overflow: hidden;}
			.swiper-slide a{display: block;width:100%;height: 507px;}
			.swiper-pagination-bullet{background: #FFFFFF;}
			.swiper-pagination-bullet-active {background: #D5AE45;width: 10px;height: 10px;}
			.desc{width: 100%;background: #FFFFFF;padding: 50px 0;}
			.desc .scope{margin: 0 auto;width: 1000px;}
			.desc .scope .title{text-align: center;}
			.desc .scope .title .p1{font-weight: bold;color: #606060;font-size: 26px;}
			.desc .scope .title .p2{padding: 14px 0 10px;}
			.desc .scope .title .p2 span{padding: 20px 20px;border-bottom: 1px solid #EEEEEE;color: #5F5F5F;}
			.desc .scope .title .p3{padding: 40px 0;color: #606060;font-size: 22px;}
			.desc .scope .scon{border-bottom: 1px solid #CCCCCC;padding-bottom: 30px;}
			.desc .scope .scon p{overflow: hidden;line-height:40px;}
			.desc .scope .scon p .left{float: left;width:100px;color: #222222;font-size:17px;}
			.desc .scope .scon p .right{float: left;width:900px;color: #676767;font-size:16px;}
			.desc .addr{width: 1000px;margin: 0 auto;font-size: 15px;}
			.desc .addr .addrtit{text-align: center;color: #222222;padding: 30px 0;font-size:20px;}
			.desc .addr ul{}
			.desc .addr ul li{display:inline-block;width: 500px;color: #606060;line-height:28px;}
		</style>	
	</head>
	<body>	
	    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-86988233-1', 'auto');
ga('send', 'pageview');

</script>
<!--<div style="display:none">-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?9618726c6a17a014651e4fedc8a09130";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
<!--<style type="text/css">
	#qiao-wrap{display: none!important;}
</style>-->
<style type="text/css">
	#YSF-BTN-HOLDER{display: none!important;}
</style>
<div class="head"><!--头部-->
			<div class="topbar">		  
				<img src="//ossstatic.ybren.com/PC/web/index/fourpoint.jpg" alt="贝嘟科技">	
				<a class="logo" href="//www.ybren.com/"><img src="//ossstatic.ybren.com/PC/web/index/logo.png" alt="贝嘟科技"></a>	
			</div>					
		</div>
		<div class="nav">
			<ul class="son">
				<li><a href="//www.ybren.com">首页</a></li>
				<li class="son_li"><a href="javascript:;" class="click">&nbsp;产品&nbsp;</a>
					<ul>
						<li ><a href="/home/category/137">男士西装</a></li><li ><a href="/home/category/143">男士T恤</a></li><li ><a href="/home/category/140">男士衬衫</a></li><li ><a href="/home/category/142">男士裤装</a></li><li ><a href="/home/category/212">男士新中式</a></li><li ><a href="/home/category/141">男士外套</a></li><li ><a href="/home/category/195">男士童装</a></li><li ><a href="/home/category/145">女士西装</a></li><li ><a href="/home/category/191">女士真丝</a></li><li ><a href="/home/category/146">女士衬衫</a></li><li ><a href="/home/category/148">女士裤装</a></li><li ><a href="/home/category/204">女士针织</a></li><li ><a href="/home/category/147">女士外套</a></li><li ><a href="/home/category/218">配饰</a></li>		
					</ul>
				</li>
				<li class="son_li"><a class="click" href="javascript:void(0);">高端定制</a>
					<ul>
						<!-- <li><a href="/index.php/Home/Index/Fabric">国际面料</a></li> -->
						<li><a href="/index.php/Home/Index/maintenance">保养手册</a></li>
                        <li><a href="/index.php/Home/Activity/Daka">大咖定制秀</a></li>
                        <li><a href="/index.php/Home/Index/brandCooper">合作品牌</a></li>
                        <li><a href="/index.php/Home/Index/service">售后服务</a></li>
					</ul>
				</li>
				<li><a href="/index.php/Home/Index/yuyue">预约量体</a></li>
 <!--                <li  ><a  href="/index.php/Home/Activity/YbrenerReg">衣邦客</a></li> -->
 				<li><a  href="/index.php/Home/Index/bigEvent">大事记</a></li>
				<li class="son_li"><a href="javascript:void(0);" class="click">企业相关</a>
					<ul>
						<li><a href="/index.php/Home/Index/company">关于衣邦人</a></li>
						<!-- <li><a href="/index.php/Home/Index/ggxx">高管信息</a></li> -->
						<!-- <li><a href="/index.php/Home/Index/bigEvent">大事记</a></li> -->
						<li><a href="/index.php/Home/Index/media">新闻动态</a></li>
						<li><a href="/index.php/Home/Index/business">商务合作</a></li>
						<li><a href="/index.php/Home/Index/contact">联系我们</a></li>
					</ul>
				</li>
				<div style="clear: both;"></div>
			</ul>		  
		</div>

 <script type="text/javascript">
                    function kefu(){
                        var H = $(window).height();
                        var W = $(window).width();
                        var t = H/2-250;
                        var l = W/2-250;
                        window.open("http://bdkj.udesk.cn/im_client?group_id=25423","","top="+t+",left="+l+",width=500,height=500");
                    }
			$(function() {
				$('.r3').hover(function(){
					$('.wx_code').show();
				},function(){
					$('.wx_code').hide();
				});
				
				$('.r4').hover(function(){
					$('.app_code').show();
				},function(){
					$('.app_code').hide();
				});
			});
		</script>

	<div class="right_sevice">
			<a onclick="kefu()" class="r1">在线客服</a>			
			<a class="r3" href="###">官方微信</a>
			<a class="r4" href="###">APP下载</a>
			<a class="r2" href="/index.php/Home/Index/yuyue"></a>
			<img class="wx_code" src="//ossstatic.ybren.com/PC/web/index/WeixinHover_01.png"/>
			<img class="app_code" src="//ossstatic.ybren.com/PC/web/index/AppHover_01.png"/>
		</div>
		<script type="text/javascript">
		 	function kefu(){
                        var H = $(window).height();
                        var W = $(window).width();
                        var t = H/2-250;
                        var l = W/2-250;
                        window.open("http://bdkj.udesk.cn/im_client?group_id=25423","","top="+t+",left="+l+",width=500,height=500");
                    }
			$(function() {
				$('.r3').hover(function(){
					$('.wx_code').show();
				},function(){
					$('.wx_code').hide();
				});
				
				$('.r4').hover(function(){
					$('.app_code').show();
				},function(){
					$('.app_code').hide();
				});
			});
		</script>	

<!--头部-->								
		<div class="banner">
			<a href=""><img class="banimg" src="//ossstatic.ybren.com/PC/web/yuyue/banner_yuyue.jpg"></a>			
		</div>
		<div class="banner">
			<img src="//ossstatic.ybren.com/PC/web/yuyue/yy01.jpg">
			<img src="//ossstatic.ybren.com/PC/web/yuyue/yy02.jpg">
		</div>		
		﻿<div class="phone" name="1F" id="1F" >          
            <p class="phone_2"><span>全国已有</span><span class="pnum">437646</span><span>人享受衣邦人量身定制</span></p>           
        </div>
        <div class="content">
            <form action="" enctype="multipart/form-data" method="post" name="quantity">
                <ul>                
                    <li>
                        <label class="con-le"  for="name"><img src="//ossstatic.ybren.com/PC/web/yuyue/name.png"><span>姓名</span></label>
                        <input type="text" name="name" value="" id="name" placeholder="输入姓名，免费预约美女上门量体">
                    </li>                               
                    <li>
                        <label for="tel"><img src="//ossstatic.ybren.com/PC/web/yuyue/phone.png"><span>电话</span></label>     
                        <input type="tel" name="tel" value="" id="tel" placeholder="输入号码，享受一对一专人服务">
                    </li>               
                    <li id="city">
                        <label for="city"><img src="//ossstatic.ybren.com/PC/web/yuyue/addr.png"><span>地区</span></label> 
                        <select class="prov"  id="prov"></select> 
                        <select class="city"  id="ccity" disabled="disabled"></select>
                        <select class="dist"  id="dist" disabled="disabled"></select>
                    </li>
                    <li id='smtime'>
                        <label for="time"><img src="//ossstatic.ybren.com/PC/web/yuyue/time.png"><span>时间</span></label>     
                        <select name="time"  id="ddate">

                        </select>
                    </li>
                    <li>
                        <label for="note"><img src="//ossstatic.ybren.com/PC/web/yuyue/desc.png"><span>备注</span></label>     
                        <textarea type="tel" name="note" value="" id="note" placeholder="填写详细地址及感兴趣商品等（选填）"></textarea>
                    </li>
                                                            
                </ul>
                <p class="ptips" style="overflow: hidden;height: 30px;line-height: 30px;padding:0px 15px 10px;font-size: 16px;width: 710px;margin: 0 auto;">
                    <img src="//ossstatic.ybren.com/PC/web/yuyue/choose.png" style="float: left;width:20px;padding: 5px;">
                    <span style="float: left;">预约即默认同意</span>
                    <a style="float: left;color:#CFAF40;text-decoration: underline;" href="/index.php/Home/Index/userAgreement.html">《衣邦人用户协议》</a>
                </p>
                <div class="button"><input type="image" form="quantity" onclick="javascript:yuyue();" src="//ossstatic.ybren.com/PC/web/yuyue/button.jpg">   </div>
            </form>                 
 </div>  


<style>
    #smtime{display: none;}
</style>		
<script>
				$(function(){		
                            
				$("#city").citySelect({
					prov:"请选择", 
					city:"请选择",
					dist:"请选择",
					nodata:"none"
				});
                                 
                                $('.s_bot').click(function(){
					$('.shade').hide();
					$('.osure').hide();
									
				})
			});
					
                    function yuyue() {
   
				var bh = $('body').height();
				$('.shade').css({								
                                    "width":"100%",
                                    "height":bh+"px"
                                });
				
				var sh = $('body').scrollTop() ;
				var wh =$(window).height();
				var selfh = $('.osure').height()/2;
				var H = sh+wh/2-selfh;				
				$('.osure').css('top',H+'px');
				
                            var name = $("#name").val();
                            if(name == '') {
                                alert('请输入姓名');  
                               return;
                            }

                            var tel = $("#tel").val();
                            var telReg = !!tel.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/);
                                    //如果手机号码不能通过验证
                                    if(telReg == false){
                                         alert('请输入正确手机号码');
                               return;
                                    }

                            var sex ="";
                            var height ="";
                            var weight ="";
                            var category ="";
                            var ddate =$('#ddate').val();
                            var address ="";
                            var note =$("#note").val();
                            var prov = $("#prov").val();
                            var city = $("#ccity").val();
                            var dist = $("#dist").val();

                            if(prov == '请选择' || city == '请选择' || dist == '请选择'||prov == null || city == null || dist == null){
                                    alert('请输入省市区');
                                    return false;
                            }
                            var from ="";
                            var keywords = "";
                            var plan = "";
                            var idea = "";
                            var spread_code = "";
                            
                            var aid = '';
                            if(aid==4){
                                 _taq.push({convert_id: '55378709639', event_type:"form"}); //今日头条统计代码
                            }
                            
                            // 转圈等待           
                            $.post( "/index.php/Home/Index/yuyuesave.html",{"name":name,"sex":sex,"height":height,"weight":weight,"tel":tel,"category":category,"appDateTime":ddate,"address":address,"note":note,"prov":prov,"city":city,"dist":dist,"from":from,"keywords":keywords,"plan":plan,"idea":idea,"subtype":1,"spread_code":spread_code},function(data) {             

                                    if(data['status'] == '1'){             
                                         alert(data['message']);
                                         
                                            $('#name').val("");
                                            $("#tel").val("");
                                            $("#note").val("");  
                                    }else{
                                        alert(data['message']);
                                    }
                                },'json');
		    }			
		</script>
		
		<div class="banner2">
			<div class="swiper-container">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide"><a target="_blank" href="javascript:void(0)" style="background: url(//ossstatic.ybren.com/PC/web/yuyue/slide01.jpg) no-repeat center;"></a></div>
		            <div class="swiper-slide"><a target="_blank" href="javascript:void(0)" style="background: url(//ossstatic.ybren.com/PC/web/yuyue/slide02.jpg) no-repeat center;"></a></div>
		            <div class="swiper-slide"><a target="_blank" href="javascript:void(0)" style="background: url(//ossstatic.ybren.com/PC/web/yuyue/slide03.jpg) no-repeat center;"></a></div>
		        </div>
		        <!-- Add Pagination -->
		        <div class="swiper-pagination"></div>
			</div>
		</div>
		<script>
			    var swiper = new Swiper('.swiper-container', {
			        pagination: '.swiper-pagination',
			        paginationClickable: true,
			        autoplay : 3000,
			    });

			</script>
		<div class="desc">
			<div class="scope">
				<div class="title">
					<p class="p1">衣邦人服务范围</p>
					<p class="p2"><span>衣邦人现已经开设42个展厅，覆盖150个城市</span></p>
					<p class="p3">覆盖全国<span class="pnum">150</span>个省市</p>
				</div>
				<div class="scon">
					<p><span class="left">华北地区：</span><span class="right">
	北京全境、天津全境、河北(石家庄市、唐山市、邯郸市、邢台市、保定市、衡水市)、山西(太原市、大同市、阳泉市、运城市、临汾市)、内蒙古(呼和浩特市)</span></p><p><span class="left">东北地区：</span><span class="right">
	辽宁(沈阳市、大连市、鞍山市、盘锦市)、吉林(长春市、吉林市)、黑龙江(哈尔滨市、大庆市)</span></p><p><span class="left">华东地区：</span><span class="right">
	上海全境、江苏全境、浙江全境、安徽(合肥市、芜湖市、蚌埠市、淮南市、马鞍山市、铜陵市、安庆市、黄山市、滁州市、宿州市、六安市)、福建(福州市、厦门市、莆田市、泉州市、漳州市、龙岩市、宁德市)、江西(南昌市、萍乡市、九江市、新余市、宜春市、抚州市、上饶市)、山东(济南市、青岛市、淄博市、枣庄市、东营市、烟台市、潍坊市、泰安市、威海市、德州市)</span></p><p><span class="left">华中地区：</span><span class="right">
	河南(郑州市、开封市、洛阳市、平顶山市、安阳市、新乡市、许昌市)、湖北(武汉市、十堰市、宜昌市、襄阳市、鄂州市、荆门市、孝感市、荆州市、黄冈市)、湖南(长沙市、株洲市、湘潭市、衡阳市、邵阳市、岳阳市、郴州市)</span></p><p><span class="left">华南地区：</span><span class="right">
	广东(广州市、深圳市、珠海市、汕头市、佛山市、惠州市、汕尾市、清远市、东莞市、中山市、潮州市、揭阳市)、广西(南宁市、柳州市、北海市、钦州市、百色市、来宾市)</span></p><p><span class="left">西南地区：</span><span class="right">
	重庆全境、四川(成都市、德阳市、绵阳市、乐山市、眉山市、广安市)、贵州(贵阳市、六盘水市、遵义市、安顺市、毕节市、黔东南苗族侗族自治州)、云南(昆明市、曲靖市、玉溪市)</span></p><p><span class="left">西北地区：</span><span class="right">
	陕西(西安市、咸阳市、渭南市、汉中市)、甘肃(兰州市、天水市)、新疆(乌鲁木齐市、克拉玛依市、昌吉回族自治州、伊犁哈萨克自治州、省辖市)</span></p>				</div>
			</div>
			<div class="addr">
				<div class="addrtit">展厅地址</div>
				<ul>
			    <li><font color="#222222">杭州展厅：</font>浙江省杭州市江干区下沙二号大街515号智慧谷大厦21楼</li><li><font color="#222222">上海展厅：</font>上海市静安区南京西路819号中创大厦1807室</li><li><font color="#222222">北京展厅：</font>北京市朝阳区曙光西里甲6号院时间国际8号楼北区1006室</li><li><font color="#222222">深圳展厅：</font>广东省深圳市福田区彩田南路3069号星河世纪大厦第三空间A栋2912室</li><li><font color="#222222">广州展厅：</font>广东省广州市天河区林和西路中石化大厦B塔20楼2001室</li><li><font color="#222222">长沙展厅：</font>湖南省长沙市天心区华远国际中心2504</li><li><font color="#222222">天津展厅：</font>天津市河西区南京路39号凯德国贸B座3102室</li><li><font color="#222222">南京展厅：</font>南京市秦淮区中山南路414号投资大厦24F</li><li><font color="#222222">温州展厅：</font>浙江省温州市鹿城区新城大道311号中通大厦10楼D室</li><li><font color="#222222">成都展厅：</font>四川省成都市青羊区提督街1号雄飞中心2211室</li><li><font color="#222222">重庆展厅：</font>重庆市渝中区五一路99号平安国际金融中心18楼6-1</li><li><font color="#222222">沈阳展厅：</font>辽宁省沈阳市沈河区友好街19号奉天银座B座608室</li><li><font color="#222222">哈尔滨展厅：</font>黑龙江省哈尔滨市南岗区红军街15号奥威斯发展大厦21层A座</li><li><font color="#222222">武汉展厅：</font>湖北省武汉市江汉区新华路468号CFD时代财富中心2503</li><li><font color="#222222">西安展厅：</font>陕西省西安市雁塔区高新区科技路50号金桥国际广场C座1206室</li><li><font color="#222222">郑州展厅：</font>河南省郑州市郑东新区升龙广场3号楼A座1101-1室</li><li><font color="#222222">贵阳展厅：</font>贵州省贵阳市南明区花果园中央商务区6号2701-02室</li><li><font color="#222222">石家庄展厅：</font>河北省石家庄市桥西区休门街3号滨江优谷大厦A1号商务办公楼1401</li><li><font color="#222222">济南展厅：</font>山东省济南市市中区经四路5号万达广场写字楼A座12B 1311-1312室</li><li><font color="#222222">昆明展厅：</font>云南省昆明市盘龙区穿金路272号禧瑞都A座永安国际3305室</li><li><font color="#222222">厦门展厅：</font>福建省厦门市思明区台南路77号汇金国际中心25楼2502室</li><li><font color="#222222">苏州展厅：</font>江苏省苏州市工业园区旺墩路188号建屋大厦1幢1117室</li><li><font color="#222222">东莞展厅：</font>广东省东莞市东城区东纵路208号万达广场B区6幢1501室</li><li><font color="#222222">合肥展厅：</font>安徽省合肥市蜀山区潜山路190号华邦世贸中心A座2303室</li><li><font color="#222222">宁波展厅：</font>浙江省宁波市鄞州区日丽中路757号奥克斯中央大厦511室</li><li><font color="#222222">南昌展厅：</font>江西省南昌市红谷滩新区红谷中大道998号峰创国际808室</li><li><font color="#222222">兰州展厅：</font>甘肃省兰州市七里河区西津西路16号兰州中心1705室</li><li><font color="#222222">乌鲁木齐展厅：</font>新疆维吾尔自治区乌鲁木齐市天山区光明路59号时代广场C座13楼A室</li><li><font color="#222222">太原展厅：</font>山西省太原市小店区长风大街113号亲贤千禧大厦1801室</li><li><font color="#222222">福州展厅：</font>福建省福州市台江区鳌峰街道曙光支路16号恒丰大厦25层2511室 </li><li><font color="#222222">徐州展厅：</font>江苏省徐州市云龙区和平大道58号万达广场写字楼B座1506室</li><li><font color="#222222">长春展厅：</font>吉林省长春市朝阳区工农大路5号金谷国际808室</li><li><font color="#222222">大连展厅：</font>辽宁省大连市中山区人民路15号国际金融大厦8F-C室</li><li><font color="#222222">南宁展厅：</font>广西省南宁市东盟商务区中柬路8号龙光世纪B塔1303-1305室</li><li><font color="#222222">珠海展厅：</font>广东省珠海市香洲区凤凰北路2099号安广世纪大厦五层505号</li><li><font color="#222222">金华展厅：</font>浙江省金华市金东区东市南街金华万达广场5号写字楼1407室</li><li><font color="#222222">南通展厅：</font>江苏省南通市崇川区工农路57号南通圆融广场圆融中心23楼2307室</li><li><font color="#222222">青岛展厅：</font>山东省青岛市市北区卓越世纪中心2号楼2303</li><li><font color="#222222">无锡展厅：</font>江苏省无锡市梁溪区人民中路139号无锡恒隆广场办公楼1座2701A</li><li><font color="#222222">襄阳展厅：</font>湖北省襄阳市樊城区长虹路与人民路交汇处汉水华城写字楼1702</li><li><font color="#222222">台州展厅：</font>浙江省台州市椒江区市府大道289号耀达大厦18层1801室</li><li><font color="#222222">呼和浩特展厅：</font>内蒙古自治区呼和浩特市玉泉区锡林郭勒南路金宇国际写字楼1304室</li>				</ul>
			</div>
		</div>
		
		 <div class="foot">
			<div class="foot_logo">
				<img src="//ossstatic.ybren.com/PC/web/index/foot01.jpg" alt="" />				
			</div>
			<div class="fmidd">
				<div class="fsec">					
					<ul class="fsec1" style="margin-left: 150px;">
						<li style="padding-bottom: 5px;padding-left: 0;"><a class="ftitle" target="_blank" href="javascript:void(0)">关于我们</a></li>
						<li><a target="_blank" href="/index.php/Home/Index/company">公司简介</a></li>
						<li><a target="_blank" href="/index.php/Home/Index/brandCooper">合作品牌</a></li>
						<li><a target="_blank" href="/index.php/Home/Index/media">新闻动态</a></li>
						<li><a target="_blank" href="/index.php/Home/Index/business">商务合作</a></li>
					</ul>
					<ul class="fsec1">
						<li style="padding-bottom: 5px;padding-left: 0;color: #FFFFFF;"><a  class="ftitle" target="_blank" href="javascript:void(0)">产品中心</a></li>

						<!-- <li><a target="_blank" href="/index.php/Home/Index/Fabric">面料品牌</a></li> -->
                        <li><a target="_blank" href="/index.php/Home/Index/maintenance">保养手册</a></li>
                        <li><a target="_blank" href="/index.php/Home/Index/service">售后服务</a></li>
						<li><a target="_blank" href="/index.php/Home/Activity/Daka">大咖定制秀</a></li>
					</ul>					
					<ul class="fsec1">
						<li style="padding-bottom: 5px;padding-left: 0;color: #FFFFFF;"><a  class="ftitle" target="_blank" href="javascript:void(0)">联系我们</a></li>
						<li><a target="_blank" href="/index.php/Home/Index/contact#zhanting">展厅地址</a></li>
						<li><a target="_blank" href="/index.php/Home/Index/yuyue/10703/from/GW">预约量体</a></li>
						<li><a target="_blank" href="/index.php/Home/Index/succeed">风尚人物</a></li>
						<!-- <li><a target="_blank" href="/index.php/Home/Activity/YbrenerReg">衣邦客</a></li>								 -->
					</ul>
					<ul class="fsec1">
						<li style="padding-bottom: 5px;padding-left: 0;color: #FFFFFF;"><a  class="ftitle" target="_blank" href="javascript:void(0)">预约热线</a></li>
						<li>400-673-8899</li>
						<li>(北京时间9：00-21：30)</li>
						<!-- <li>24小时客服在线</li> -->

					</ul>
					<div class="code">
						<p><img src="//ossstatic.ybren.com/PC/web/index/code01.png"></p>
						<p class="pt">衣邦人公众微信号</p>
					</div>
					<div class="code">
						<p><img src="//ossstatic.ybren.com/PC/web/index/code02.png"></p>
						<p class="pt">衣邦人APP客户端</p>
					</div>
				</div>
			</div>
			<div class="foot_logo_2" >
				衣邦人，率先将互联网，专业着装顾问上门量体，和工业4.0技术引入量身定制行业的服装定制平台。客户可以免费预约衣邦人的专业着装顾问，上门量体采集身材数据，<br>并提供专业着装建议。提供西装定做，西服定制，女士正装，职业装，商务正装定制，西装，衬衫定制等服装定制服务。
								<div style="width:300px;margin:0 auto; padding:20px 0;">
					<a target="_blank" href="javascript:if(confirm('http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33011802000773  \n\n���ļ��޷��� Teleport Ultra ����, ��Ϊ ����һ�����·���ⲿ������Ϊ������ʼ��ַ�ĵ�ַ��  \n\n�����ڷ������ϴ���?'))window.location='http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33011802000773'" tppabs="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33011802000773" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="//ossstatic.ybren.com/PC/web/index/beian.png" style="float:left;width: 20px;height: 20px;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">浙公网安备 33011802000773号</p></a>
				</div>
			</div>
			<div class="infomation"><p class="p1">Copyright&copy;2015-2018 ybren.com,&nbsp;&nbsp;All Rights Reserved.</p><p class="p2">版权所有:杭州贝嘟科技有限公司&nbsp;&nbsp;&nbsp;浙ICP备15008318号</p></div>
</div>

<style type="text/css">		
    #cnzz_stat_icon_1255644252{display: none;}
    #cnzz_stat_icon_1257829290{display: none;}
</style>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1255644252'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1255644252%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257829290'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1257829290%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
	</body>
</html>