<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>发生改变</h1>
<!--/*@thymesVar id="name" type="java.lang.String"*/-->
<p th:text="'Hello！, ' + ${user} + '!'" >3333</p>
<br/>

<p th:unless="${count} &lt; 1">表达式中的条件不成立，才会显示其内容</p>
<p th:class="${count &lt; 1 }? 'even' : 'odd'"> 这是p </p>

<br/>
数字是:
<p th:text="${#numbers.formatInteger(count,3)}" >3333</p>

<p th:text="${#dates.createNow()}" >3333</p>

<p th:text="${#dates.format(nowDate, 'dd/MMM/yyyy HH:mm')}" >3333</p>

<br/>


</body>
</html>