<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>进入登录页面</h1>
<form class="loginForm" action="http://localhost:8080/add"  name="actionForm" id="actionForm"  method="post" >
    <div class="inputbox">
        <label >用户名：</label>
        <input type="text" class="input-text" name="userCode" placeholder="请输入用户名" required/>
    </div>
    <div class="inputbox">
        <label >密码：</label>
        <input type="password" name="userPassword" placeholder="请输入密码" required/>
    </div>
    <div class="subBtn">

        <input type="submit" value="登录"/>
        <input type="reset" value="重置"/>
    </div>
</form>
</body>
</html>